// Colors
$primary-color: #1a2d41;
$primary-color-v: #1f364c;
$secondary-color: #7d3442;
$secondary-color-v: #fc4e51;

// Breakpoints
// $breakpoint-xl: 1281px;
// $breakpoint-medium: 1025px;
// $breakpoint-tablet: 768px;
// $breakpoint-: 768px;
// $breakpoint-phone: 320px;

$breakpoint-xl: 1281px;
$breakpoint-lg: 1025px;
$breakpoint-md: 768px;
$breakpoint-sm: 320px;